<div id="menu-buttons">
	<button id="find-friends-button" class="border-radius5 menu-button enabled" onclick="showElement('find-friends'); $('find-friends-button').setAttribute('disabled', 'disabled');">
		Find friends
	</button>
	
	<div class="clear-height"></div>
</div>

<div id="main-page">
	<table class="width100" style="table-layout:fixed; border-spacing: 5px;">
		<tr>
			<td id="find-friends" style="display: none;">
				<div id="find-friends-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="font-size14 align-center bold darkblue-color lavenderblue-background padding5 border-radius-top5">
						<button class="border-radius10 float-right close-button enabled" onclick="hideElement('find-friends'); $('find-friends-button').removeAttribute('disabled');" style="padding: 0;">
							X
						</button>
						Search friends
					</div>
					<div id="search-container" class="font-size14 height400px main-blocks">
						<div id="search-form" class="padding5">
							<%= render :partial => "search_friends" %>
						</div>
						<div id="search-results">
						</div>
					</div>
				</div>
			</td>
			<td id='contacts' class="align-top">
				<div id="contacts-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="font-size14 align-center bold darkblue-color lavenderblue-background padding5 border-radius-top5">Contacts</div>
					<div id="contacts-list" class="height400px main-blocks">
					</div>
				</div>
			</td>
			<td id='conferences' class="align-top">
				<div id="conferences-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="font-size14 align-center bold darkblue-color lavenderblue-background padding5 border-radius-top5">Recent conversations</div>
					<div id="conference-list" class="font-size14 height400px main-blocks">
						<%= render :partial => "conference_list", :locals => {:conferences => current_user.conferences} %>
					</div>
				</div>
			</td>
			<td id='bookmarks' class="align-top">
				<div id="bookmarks-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="font-size14 align-center bold darkblue-color lavenderblue-background padding5 border-radius-top5">Bookmarked conversations</div>
					<div id="bookmarks-list" class="font-size14 height400px main-blocks">
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>


<!--
<br />
<br />

<% if current_user.friends.any? %>
	<%= current_user.friends.size %> friends in contacts list <br />
	<table>
		<tr>
			<th>Login</th>
			<th>Email</th>
			<th>Friendship status</th>
			<th>Availability status</th>
		</tr>
		<% for contact in current_user.contacts.find(:all, :order=>"status asc, initiator asc, created_at asc") %>
			<tr>
				<script>
					var userWindow<%= contact.id %> = null;
				</script>
				<td><%= link_to_function contact.friend.login, "windowManager.openWindowByUserIds('#{new_conference_path(:user_id=>contact.friend.id)}', [#{current_user.id}, #{contact.friend.id}]);" %></td>
				<td><%= contact.friend.email %></td>
				<td>
					<% if contact.pending? %>
						<% if contact.initiator %>
							You have requested
						<% else %>
							<%= link_to "Accept this contact", accept_contact_users_path(:contact_id=>contact.id) %>
						<% end %>
					<% else %>
						Accepted
					<% end %>
				</td>
				<td>
					<%= contact.friend.is_online? ? "Online" : "Offline" %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	No match found.
<% end %>

<h4>Friends available for chat</h4>

<div id="contacts-list">
</div>
-->

<% content_for :javascripts do %>
	var authenticityToken = <%= form_authenticity_token.inspect %>;
	
	var windowManager = new WindowManager();
	
	var user = new User({
		    id: <%= current_user.id %>,
		    name: '<%= current_user.name %>',
		    onlineStatus: true
		});
	var channel = new Channel({
			id: 0,
			channelUrl: '<%= channel_path %>',
			conferenceUrl: '<%= conferences_path %>',
			contactsContainer: 'contacts-list',
			bookmarksContainer: 'bookmarks',
			notifiersContainer: 'layout-footer-right-contents',
			communicationInterval: 3000,
			user: user
		});
<% end %>