<%= link_to "Find Friends", :controller=>"users", :action=>"search" %>

<br />
<br />

<% if current_user.friends.any? %>
	<%= current_user.friends.size %> friends in contacts list <br />
	<table>
		<tr>
			<th>Login</th>
			<th>Email</th>
			<th>Friendship status</th>
			<th>Availability status</th>
		</tr>
		<% for contact in current_user.contacts.find(:all, :order=>"status asc, initiator asc, created_at asc") %>
			<tr>
				<script>
					var userWindow<%= contact.id %> = null;
				</script>
				<td><%= link_to_function contact.friend.login, "if(!userWindow#{contact.id}) userWindow#{contact.id} = window.open('#{new_conference_path(:contact_id=>contact.id)}', 'contact_#{contact.id}', 'status=1,location=1,width=350,height=500'); else { userWindow#{contact.id}.focus(); userWindow#{contact.id}.conference.messageSender.setFocus();}" %></td>
				<td><%= contact.friend.email %></td>
				<td>
					<% if contact.pending? %>
						<% if contact.initiator %>
							You have requested
						<% else %>
							<%= link_to "Accept this contact", :controller=>"users", :action=>"accept_contact", :contact_id=>contact.id %>
						<% end %>
					<% else %>
						Accepted
					<% end %>
				</td>
				<td>
					<%= contact.friend.is_online? ? "Online" : "Offline" %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	No match found.
<% end %>

<h4>Friends available for chat</h4>

<div id="contacts-list">
</div>

<% content_for :javascripts do %>
	var authenticityToken = <%= form_authenticity_token.inspect %>;
	
	var user = new User({
		    id: <%= current_user.id %>,
		    name: '<%= current_user.name %>',
		    onlineStatus: true
		});
	var channel = new Channel({
			channelUrl: '<%= channel_path %>',
			conferenceUrl: '<%= conferences_path %>',
			notifiersContainer: document.getElementById('layout-footer'),
			user: user
		});
<% end %>