<%= link_to "Find Friends", :controller=>"users", :action=>"search" %>

<br />
<br />

<% if current_user.friends.any? %>
	<%= current_user.friends.size %> friends in contacts list <br />
	<table>
		<tr>
			<th>Login</th>
			<th>Email</th>
		</tr>
		<% for contact in current_user.contacts.find(:all, :order=>"status asc, initiator asc, created_at asc") %>
			<tr>
				<td><%= contact.friend.login %></td>
				<td><%= contact.friend.email %></td>
				<td>
					<% if contact.pending? %>
						<% if contact.initiator %>
							You have requested
						<% else %>
							<%= link_to "Accept this contact", :controller=>"users", :action=>"accept_contact", :contact_id=>contact.id %>
						<% end %>
					<% else %>
						Accepted
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	No match found.
<% end %>