<div id="menu-buttons">
	<button id="find-friends-button" class="border-radius5 menu-button enabled" onmousedown="showElement('find-friends'); $('find-friends-button').setAttribute('disabled', 'disabled');">
		Find friends
	</button>
	<button id="about-button" class="border-radius5 menu-button enabled">
		About
	</button>
	
	<div class="clear-height"></div>
</div>

<div id="main-page">
	<table class="width100" style="table-layout:fixed; border-spacing: 5px;">
		<tr>
			<td id="find-friends" style="display: none;">
				<div id="find-friends-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="main-blocks-header darkblue-color lavenderblue-background border-radius-top5">
						<button class="border-radius10 float-right close-button enabled" onclick="hideElement('find-friends'); $('find-friends-button').removeAttribute('disabled');">
							X
						</button>
						Search friends
					</div>
					<div id="search-container" class="height400px main-blocks">
						<div id="search-form" class="padding5">
							<%= render :partial => "search_friends" %>
						</div>
						<div id="search-results" class="font-size12 padding5">
						</div>
					</div>
				</div>
			</td>
			<td id='contacts' class="align-top">
				<div id="contacts-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="main-blocks-header darkblue-color lavenderblue-background border-radius-top5">Contacts</div>
					<div id="contacts-list" class="height400px main-blocks">
					</div>
				</div>
			</td>
			<td id='conferences' class="align-top">
				<div id="conferences-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="main-blocks-header darkblue-color lavenderblue-background border-radius-top5">Recent conversations</div>
					<div id="conference-list" class="font-size14 height400px main-blocks">
						<%= render :partial => "conference_list", :locals => {:conferences => current_user.conferences} %>
					</div>
				</div>
			</td>
			<td id='bookmarks' class="align-top">
				<div id="bookmarks-outer" class="border-radius-top5 white-background" style="border: 1px solid black;">
					<div class="main-blocks-header darkblue-color lavenderblue-background border-radius-top5">Bookmarked conversations</div>
					<div id="bookmarks-list" class="font-size14 height400px main-blocks">
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>

<% content_for :javascripts do %>
	var authenticityToken = <%= form_authenticity_token.inspect %>;
	
	var windowManager = new WindowManager();
	
	var user = new User({
		    id: <%= current_user.id %>,
		    name: '<%= current_user.name %>',
		    onlineStatus: true
		});
	var channel = new Channel({
			id: 0,
			channelUrl: '<%= channel_path %>',
			conferenceUrl: '<%= conferences_path %>',
			contactsContainer: 'contacts-list',
			bookmarksContainer: 'bookmarks',
			notifiersContainer: 'layout-footer-right-contents',
			communicationInterval: 3000,
			user: user
		});
<% end %>