<% if users.any? %>
	<div class="underline"><%= users.size %> results found <br /></div>
	<% form_remote_for :users, :url => {:controller => "users", :action=>"add_to_contacts"}, :loading => "$('search-friends-spinner').show();", :complete => "$('search-friends-spinner').hide();" do |f| %>
		<table class="font-size12 width100 no-border-space">
			<tr style="background-color: lightgrey;">
				<th class="align-left" style="width:10px;"><%= check_box :check, :all, :onclick => "checkAllBoxes({checkAll: 'check_all', selectBox: 'select_box'}); enableIfSelectedAny({enableElements: 'enable-disable-elements', selectBox: 'select_box'});" %></th>
				<th class="align-left underline">Name</th>
			</tr>
			<% for user in users %>
				<% fields_for "users[]", user do |user_fields| %>
					<tr>
						<td class="align-left"><%= user_fields.check_box :selected, :onclick => "updateCheckAll({checkAll: 'check_all', selectBox: 'select_box'}); enableIfSelectedAny({enableElements: 'enable-disable-elements', selectBox: 'select_box'});", :class => "select_box" %></td>
						<td class="align-left">
							<%= link_to_function user.name, "windowManager.openWindowByUserIds(#{new_conference_path(:user_id => user.id).inspect}, [#{user.id}, #{current_user.id}]);" %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	
		<div id="message-submit-box" class="padding5" style="width: 95%;">
			<%= label_tag "Enter your message below" %>
			<%= text_area_tag :message, '', :class=>"enable-disable-elements width100 font-size12", :disabled => "disabled" %>
			
			<%= submit_tag "Add to contact", :class => "enable-disable-elements page-button border-radius5", :disabled => "disabled", :id => "submit-button" %>
			
			<%= image_tag "spinner.gif", :id => "add-to-contacts-spinner", :class => "float-right", :style => "display:none;" %>
		</div>
	<% end %>
<% else %>
	No match found.
<% end %>