<table id="chat-table">
	<tr>
		<td id="messages-list">
			<div class='conference-messages-outer'>
				<div id="conference-messages-<%= @conference.id %>" class='conference-messages-container'>
					<%# render :partial=>"messages_list", :locals => {:messages => @messages} %>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td id="message-input">
			<div id="conference-message-sender-<%= @conference.id %>">
				<%= render :partial=>"message_input", :locals=>{:message=>@message, :conference=>@conference} %>
			</div>
		</td>
	</tr>
</table>

<% content_for :javascripts do %>
	var authenticityToken = <%= form_authenticity_token.inspect %>;
	conference = new Conference({
			id: <%= @conference.id %>,
			messageList: 'conference-messages-<%= @conference.id %>',
			messageSender: 'conference-message-sender-<%= @conference.id %>',
			messageDeliverUrl: '<%= conference_messages_path(@conference) %>',
			userId: <%= current_user.id %>
		});
		
	<% for user in @conference.users %>
		conference.users[conference.users.length] = new User({
				id: <%= user.id %>,
				name: '<%= user.login %>'
			});
	<% end %>
		
	<% for message in @messages %>
		conference.messageList.addMessage(new Message({ text:<%= message.text.inspect %>, sender:conference.getUserById(<%= message.sender_id %>) }));
	<% end %>
<% end %>