<table class="height100 width100 bordergray-background no-border-space">
	<tr>
		<td id="conference-header-container" colspan="2" class="bold font-size14 align-center darkblue-color" style="height: 30px;">
			<%= @conference.title || "Click here ro set title for the conference" %>
		</td>
	</tr>
	<tr>
		<td class="">
			<%= render :partial => "chat_table" %>
		</td>
		<td class="width200px border-radius10">
			<%= render :partial => "conference_members" %>
		</td>
	</tr>
</table>

<% content_for :javascripts do %>
	var authenticityToken = <%= form_authenticity_token.inspect %>;
	conference = new Conference({
			id: <%= @conference.id %>,
			conferenceHeader: 'conference-header-container',
			messageListContainer: 'conference-messages-<%= @conference.id %>',
			messageSenderContainer: 'conference-message-sender-<%= @conference.id %>',
			messageDeliverUrl: '<%= conference_messages_path(@conference) %>',
			title: '<%= @conference.title %>',
			userId: <%= current_user.id %>
		});
		
	<% for user in @conference.users %>
		conference.users[conference.users.length] = new User({
				id: <%= user.id %>,
				name: '<%= user.login %>'
			});
	<% end %>
		
	<% for message in @messages %>
		conference.messageList.addMessage(new Message({ text:<%= message.text.inspect %>, sender:conference.getUserById(<%= message.sender_id %>) }));
	<% end %>
<% end %>