<html>
  <head>
  	<link rel="icon" type="images/png" href="<%= image_path('icon.png') %>" />
  	
    <title><%= @page_title || 'Chatting' %></title>
    <%= render :partial=>"shared/stylesheet_includes" %>
  </head>
  <body>
  
    <div id="layout-head">
    </div>
    
    <div id="layout-body">
      <div id="page-header">
        <%= render :partial=>"shared/header" %>
      </div>
      
      <div id="page-body">
        <%= "<h1>#{@page_title}</h1>" if @page_title %>
        
        <div id="flash-message">
          <%= render :partial => "shared/flash_message", :locals => {:message => flash} %>
        </div>
        
        <div id="page-content">
          <%= yield %>
        </div>
      </div>
      
      <div id="page-footer">
      </div>
    </div>
    
    <div id="layout-footer">
    	<div id="layout-footer-left-contents" class='left-contents'>
    	</div>
    	<div id="layout-footer-middle-contents" class='middle-contents'>
    	</div>
    	<div id="layout-footer-right-contents" class='right-contents'>
    	</div>
    </div>
    
    <div id="javascript-includes">
	    <%= render :partial=>"shared/javascript_includes" %>
    </div>
  </body>
</html>
