<html>
  <head>
  	<link rel="icon" type="images/png" href="<%= image_path('icon.png') %>" />
  	
    <title><%= @page_title || 'Chatting' %></title>
    <%= render :partial=>"shared/stylesheet_includes" %>
  </head>
  <body>
  
    <div id="layout-head">
    </div>
    
    <div id="layout-body">
      <div id="conference-header">
      </div>
      
      <div id="conference-body">
        <div id="conference-content">
          <%= yield %>
        </div>
      </div>
      
      <div id="conference-footer">
      </div>
    </div>
    
    <div id="layout-footer">
    </div>
    
    <div id="javascript-includes">
	    <%= render :partial=>"shared/javascript_includes" %>
    </div>
  </body>
</html>
